body{
  margin: 0;
  background: rgb(249, 250, 255);

  font-family: Pretendard-Regular;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

pre{
  font-family: 'Pretendard-Regular';
  overflow: auto;
  white-space: pre-wrap;
}

.loading-img{
  width: 100px;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.list-bg {
  /* padding-top: 10px; */
  position: relative;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  width: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.list-item h4 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 8px;
  margin-bottom: 10px;
}
.list-item p {
  color: grey;
  margin : 5px 0px;
} 
.list-item-profile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.list-item-profile img{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 5px;
}
.list-item-profile p{
  font-weight: 300;
  color: black;
  padding: 0;
  padding-top: 3px;
  align-items: center;
}
.list-enter{
  position: relative;
  width: 100%;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-temp{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1.5px solid rgb(226, 226, 226);
  padding-bottom: 7px;
}
.list-enter input{
  width: 250px;
  height: 40px;
  border: 1px solid rgb(164, 164, 164);
  border-right: 0;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
}
.list-enter a{
  background-color: white;
  border: 1px solid rgb(226, 226, 226);
  transition: all 0.3s;
  padding : 10px 13px;;
  border-radius: 5px;
  font-size: 14px;
}
.list-enter a:hover{
  background-color: rgb(230, 230, 230);
}
.list-enter-box{
  display: flex;
  vertical-align: center;
  align-items: center;
  /* margin-right: 25px; */
  flex: 1;
}
.list-enter-box button{
  width: 40px;
  height: 40px;
  border-radius: 0;
  border: 1px solid gray;
  border-radius: 0 5px 5px 0;
  text-align: center;
  background-color: gray;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  transition: all 0.3s;
}
.list-enter-box button:hover{
  background-color: rgb(57, 57, 57);
  border: 1px solid rgb(57, 57, 57);
}

.p-20 {
  padding: 20px;
  vertical-align: center;
}
input, textarea {
  box-sizing: border-box;
  padding: 10px;
  /* display: block; */
  outline: none;
  resize: none;
}
button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 
a{
  text-decoration: none;
  color: black;
}


.navbar {
  background: white;
  height: 80px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  border-bottom: 1px solid rgb(226, 226, 226);
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
}
.logo {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
.logo img{
  width: 65px;
  margin-right: 20px;
}

.logo div{
  padding: 0;
}
.logo p{
  margin: 0; 
  font-size: 14px;
  color: red
}
.logo h3{
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}

.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 600;
  margin: auto;
  left: 0;
  right: 0;
}
.navbar-nav a{
  margin: 15px;
}

.navbar-user{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  font-weight: 600;
  flex: 1;
}
.navbar-user button{
  margin: 10px;
  background-color: white;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.navbar-user-login{
  /* border: 1px solid rgb(226, 226, 226); */
  /* border-radius: 10px; */
  color: gray;
  font-weight: 500;
}
.navbar-user-logout{
  /* border: 1px solid rgb(226, 226, 226); */
  /* border-radius: 10px; */
  color: black;
  font-weight: 500;
}

.navbar-profile{
  /* background-color: rgb(250, 250, 250); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 10px; */
  /* border: 1px solid rgb(226, 226, 226); */
  /* cursor: pointer; */
}
.navbar-profile img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 7px;
  /* margin-right: 5px; */
  cursor: pointer;
}
.navbar-profile p{
  margin: 7px;
  margin-left: 0;
}


.list-item{
  opacity: 1;
  transition: all 0.3s;
}
.list-item span{
  cursor: pointer;
}


.post-container{
  width: 50%;
  background-color: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border-radius: 0 0 10px 10px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.post-container-main{
  width: 100%;
  border-bottom: 1.5px solid rgb(226, 226, 226);
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.post-container-header{
  width: 100%;
  display: flex;
  align-items: center;
}
.post-container-header img{
  width: 45px;
  height: 45px;
  border-radius: 30px;
}
.post-container-temp{
  padding: 2px;
  margin: 5px;
  flex : 1;
}
.post-container-temp h2{
  margin: 0;
  font-size: 18px;
}
.post-container-temp p{
  margin: 0;
  font-size: 13px;
  color: grey;
}
.post-container-header button{
  background-color: white;
  border: 1px solid rgb(226, 226, 226);
  transition: all 0.3s;
  padding : 10px 13px;
}
.post-container-header button:hover{
  background-color: rgb(230, 230, 230);
}

.post-container-content{
  width: 100%;
}
.post-container-content h1{
  font-size: 28px;
  font-weight: 800;
}
.post-container-content pre{
  font-size: 18px;
  font-weight: 300;
  margin-top: 0px;
}
.post-container-comment{
  width: 100%;
  color: rgb(59, 59, 59);
}
.post-container-comment-input{
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 10px;
  justify-content: space-between;
}
.post-container-comment-input textarea{
  width: 85%;
  height: 42px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  font-size: 18px;
  overflow: hidden;
}
.post-container-comment-input button{
  width: 75px;
  padding: 10px 0;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(226, 226, 226);
  transition: all 0.3s;
  text-align: center;
}
.post-container-comment-input button:hover{
  background-color: rgb(230, 230, 230);
}.post-container-comment pre{
  font-size: 14px;
  color: rgb(58, 58, 58);
}

.comment-container{
  width: 100%;
  border-bottom: 1.5px solid rgb(226, 226, 226);
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.comment-container-header{
  width: 100%;
  display: flex;
  align-items: center;
}
.comment-container-header img{
  width: 35px;
  height: 35px;
  border-radius: 30px;
}
.comment-container-header h2{
  margin-left: 7px;
  font-size: 16px;
}
.comment-container-content{
  width: 100%;
}
.comment-container-content pre{
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}
.comment-container-content p{
  font-size: 13px;
  color: gray;
}

.test-img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.add-container-content{
  width: 100%;
}
.add-container-content form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.add-container-content input{
  width: 100%;
  border: 0;
  border-bottom: 1.5px solid black;
  border-radius: 0;
  font-size: 20px;
  margin-bottom: 20px;
}
.add-container-content textarea{
  width: 100%;
  height: 400px;
  font-size: 15px;
  padding: 15px;
  border-radius: 0;
  border: 1px solid black;
  margin-bottom: 15px;
}
.add-container-content button{
  background-color: white;
  border: 1px solid rgb(226, 226, 226);
  transition: all 0.3s;
  padding : 10px 13px;
  margin-left: auto;
}
.add-container-content button:hover{
  background-color: rgb(230, 230, 230);
}

.split-container{
  width:100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.split-numbers{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.split-container button{
  background-color: rgb(249, 250, 255);
  font-size: 15px;
  margin: 20px 0px;
  padding: 0;
  color: rgb(73, 73, 73);
}
.split-numbers button{
  margin: 20px 20px;
}

.error-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.schedule-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.schedule-info{
  width: 45%;
  min-width: 600px;
  background-color: white;
  padding: 10px 50px 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  border-radius: 0 0 10px 10px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.schedule-info table{
  font-size: 17px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 10px;
  color: gray;
}
.schedule-info table, tr, td{
  border: 1px solid black;
  height: 65px;
}
.schedule-info p{
  font-size: 23px;
  margin: 0;
  color: black;
}
.schedule-find{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
}
.schedule-find input[type="number"]{
  background-color: white;
  border: 0;
  border-bottom: 1.5px solid black;
  padding: 0 10px;
  font-size: 30px;
  text-align: center;
}
.schedule-find p{
  font-size: 30px;
  margin: 10px;
}
.schedule-find button{
  background-color: white;
  border: 1px solid rgb(226, 226, 226);
  transition: all 0.3s;
  padding : 10px 13px;
  position: absolute;
  right: 0;
}
.schedule-find button:hover{
  background-color: rgb(230, 230, 230);
}
.schedule-from{
  font-size: 10px;
  color: gray;
  margin-top: 20px;
}

